table#browse {
  padding: 8px 4px;
  border-spacing: 0;
}

table#browse th {
  text-align: left;
  padding: 2px 5px;
}

table#browse td {
  padding: 2px 5px;
}

table#browse tr:nth-child(0):hover {
  background-color: white;
}

table#browse tr:nth-child(odd) {
  background-color: #f6f6f0;
}

table#browse tr:nth-child(odd):hover {
  background-color: #edece6;
}

table#browse tr:nth-child(even):hover {
  background-color: #edece6;
}

table#browse td.download {
  text-align: center;
}
