@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: "Droid Sans", Arial, sans-serif;
  border: solid #d9d8d1;
  border-width: 1px;
  margin: 10px auto;
  margin-bottom: 50px;
  background-color: #fff;
  color: #000;
  max-width: 975px;
  width: 975px;
  min-width: 975px;
  font-size: 15px;
}

a {
  color: #0000cc;
}

a:hover, a:visited, a:active {
  color: #880000;
}


a[href^="https://github.com"],
a[href*="pdf"],
a.rss, a[href*="rss"] {
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 18px;
  min-height: 16px;
  background-size: 16px;
}

a[href^="https://github.com"] {
  background-image: url('../images/github.png');
}

a.rss, a[href*="pdf"] {
  background-image: url('../images/pdf.png');
}

a.rss, a[href*="rss"] {
  background-image: url('../images/rss.png');
}

h1 {
  background-image: url('../images/stacks.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  height: 25px;
  margin: 0;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: #d9d8d1;
}

h1:hover {
  background-color: #c9c8c1;
}

h1 a {
  color: black;
  text-decoration: none;
  display: block;
  padding-left: 40px;
}

h1 a:visited {
  color: black;
}

a img {
  border: none;
}

h2 {
  font-size: 18px;
  margin: -5px -5px 10px -5px;
  display: block;
  padding: 6px 8px;
  font-weight: bold;
  background-color: #edece6;
  text-decoration: none;
  color: #000000;
}

h2:hover {
  background-color: #c9c8c1;
}

h2 a {
  color: black;
  text-decoration: none;
  display: block;
}

h2 a:visited, h2 a:hover {
  color: black;
}

form {
  margin: 0 15px 15px 15px;
}

form.simple label span {
  width: 70px;
  display: inline-block;
}

var {
  font-style: normal;
  font-family: "Droid Sans Mono", monospace;
}

pre {
  margin: .5em 1em;
  white-space: pre-wrap;
}

code {
  font-family: "Droid Sans Mono", monospace;
  font-size: .95em;
}

p.navigation {
  text-align: right;
  margin-left: 0;
}

p.navigation span.left {
  display: block;
  float: left;
}

ul {
  list-style-type: circle;
}

ul#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul#menu li {
  float: left;
  margin: 0;
  padding: 0;
}

ul#menu li a {
  display: block;
  padding: .5em .75em;
}

ul#menu li:hover {
  background-color: #edece6;
}

p#backlink {
  background-color: #eee;
  padding: 6px 8px;
  margin-bottom: 0;
  border-top: 1px solid #d9d8d1;
}

table {
  margin: 15px;
}

div#main, div#sidebar {
  float: left;
}

div#main {
  width: 700px;
  border-color: #d9d8d1;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  float: left;
  padding: 5px;
}

div#sidebar {
  width: 250px;
  padding: 5px;
  border-color: #d9d8d1;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  float: right;
}

div#main h2 {
  font-size: 18px;
}

div#main h3 {
  font-size: 16px;
  margin-left: 5px;
}

div#main p {
  margin: 0 5px 15px 5px;
}

div#main p.navigation {
  margin-left: 0;
}

div#main dl {
  margin-left: 5px;
}

div#sidebar h2 {
  font-size: 14px;
}

div#sidebar ul {
  margin: 5px 0 15px 5px;
  padding-left: 15px;
}

div#sidebar blockquote {
  margin-left: 15px;
}

div#sidebar ul li {
  margin-bottom: 5px;
}

div#sidebar p {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 3px;
}

div#sidebar dl {
  margin-top: 0;
}

div#sidebar dt {
  float: left;
  clear: left;
  width: 3em;
}

div#sidebar dt:after {
  content: ":";
}

div#sidebar dd {
  margin: 0 0 0 4em;
  padding: 0;
}

div#sidebar ol {
  margin-top: 0;
  list-style-type: inside;
}

div#sidebar form {
  margin: 0;
}

table.alternating {
  border-spacing: 0;
  border: 1px solid #d9d8d1;
}

table.alternating th {
  text-align: left;
  padding: 2px 5px;
}

table.alternating td {
  padding: 2px 5px;
}

table.alternating tr:nth-child(0):hover {
  background-color: white;
}

table.alternating tr:nth-child(odd) {
  background-color: #f6f6f0;
}

table.alternating tr:nth-child(odd):hover {
  background-color: #edece6;
}

table.alternating tr:nth-child(even):hover {
  background-color: #edece6;
}

