form#comment-form label {
  width: 6em;
  display: inline-block;
  text-align: right;
}

form#comment-form input {
  margin-bottom: 10px;
}

form#comment-form input#comment-submit {
  text-align: right;
}

form#comment-form textarea {
  display: block;
}

p.toggle {
  background-color: #edece6;
  border: 1px solid #d9d8d1;
  float: right;
  font-size: 1em;
  margin-top: 0;
}

p.toggle:hover {
  background-color: #c9c8c1;
}

p.toggle a {
  display: block;
  width: 100%;
  padding: 0.2em 1em;
}

blockquote.rendered {
  margin-left: 1em;
  line-height: 120%;
  font-size: 16px;
}

blockquote.rendered h2,
blockquote.rendered p {
  margin-left: 0;
}

blockquote.rendered a.environment-identification {
  color: black;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

blockquote.rendered a.environment-identification span.named {
  font-weight: normal;
}

blockquote.rendered a.environment-identification:hover {
  text-decoration: underline;
}

blockquote.rendered div.definition {
}

blockquote.rendered div.plain {
  font-style: italic;
}

blockquote.rendered div.remark {
}

blockquote.rendered span.qed {
  float: right;
}

blockquote.rendered ol {
  counter-reset: list;
  list-style-type: none;
  margin-left: 0;
  padding-left: 20px;
}

blockquote.rendered ol li:before {
  counter-increment: list;
  content: counter(list) ") ";
  margin-right: 15px;
}

ul#citation-options {
}

ul#citation-options li {
  background-image: url('../images/clipboard.png');
  background-repeat: no-repeat;
  background-position: right center;
}

ul#citation-options li a {
  display: block;
}

