form#comment-form label {
  width: 6em;
  display: inline-block;
  text-align: right;
}

form#comment-form input {
  margin-bottom: 10px;
}

form#comment-form input#comment-submit {
  text-align: right;
}

form#comment-form textarea {
  display: block;
}

p.toggle {
  background-color: #edece6;
  border: 1px solid #d9d8d1;
  float: right;
  font-size: 1em;
  margin-top: 0;
}

p.toggle:hover {
  background-color: #c9c8c1;
}

p.toggle a {
  display: block;
  width: 100%;
  padding: 0.2em 1em;
}

blockquote#rendered {
  margin-left: 1em;
  line-height: 120%;
  font-size: 16px;
}

blockquote#rendered a.theorem-identification {
  color: black;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

blockquote#rendered a.theorem-identification:hover {
  text-decoration: underline;
}

blockquote#rendered p.definition {
}

blockquote#rendered p.plain {
  font-style: italic;
}

blockquote#rendered p.remark {
}

blockquote#rendered span.qed {
  float: right;
}

ul#citation-options {
}

ul#citation-options img {
  float: right;
}
