[submodule "tex"]
	path = tex
	url = git://paard.math.columbia.edu/var/git/stacks
[submodule "showdown"]
	path = showdown
	url = https://github.com/coreyti/showdown.git
[submodule "EpicEditor"]
	path = EpicEditor
	url = git@github.com:OscarGodson/EpicEditor
