[submodule "js/MathJax"]
	path = js/MathJax
	url = git://github.com/mathjax/MathJax.git
[submodule "js/XyJax"]
	path = js/XyJax
	url = git://github.com/sonoisa/XyJax.git
[submodule "js/jquery-treeview"]
	path = js/jquery-treeview
	url = git://github.com/jzaefferer/jquery-treeview.git
[submodule "php/simplepie"]
	path = php/simplepie
	url = git://github.com/simplepie/simplepie.git
[submodule "php/markdown"]
	path = php/markdown
	url = git://github.com/drdrang/php-markdown-extra-math.git
