body {
  font-family: sans-serif;
  font-size: medium;
  border: solid #d9d8d1;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  max-width: 800px;
  font-size: 16px;
}

a {
  color: #0000cc;
}

a:hover, a:visited, a:active {
  color: #880000;
}

h1 {
  height: 25px;
  margin: -10px -10px 0 -10px;
  padding: 8px;
  font-size: 150%;
  font-weight: bold;
  background-color: #d9d8d1;
}

h1:hover {
  background-color: #c9c8c1;
}

h1 a {
  color: black;
  text-decoration: none;
  display: block;
}

h1 a:visited {
  color: black;
}

a img {
  border: 0;
}

ul#navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
}

ul#navigation li {
  float: left;
  padding: .5em .7em;
  margin: 0;
}

ul#navigation li:hover {
  background-color: #edece6;
}

h2 {
  font-size: medium;
  margin: 0 -10px 10px -10px;
  border-top: 1px solid #d9d8d1;
  display: block;
  padding: 6px 8px;
  font-weight: bold;
  background-color: #edece6;
  text-decoration: none;
  color: #000000;
}

h2:hover {
  background-color: #c9c8c1;
}

h2 a {
  color: black;
  text-decoration: none;
  display: block;
}

h2 a:visited {
  color: black;
}

h2 var {
  font-size: 1.2em;
}

p#backlink {
  background-color: #eee;
  padding: 6px 8px;
  margin: 10px -10px -10px -10px;
}

var {
  font-style: normal;
  font-family: monospace;
}

ul li *:first-child, ol li *:first-child {
  margin-top: 0;
}

ul li *:last-child, ol li *:last-child {
  margin-bottom: 0;
}

ul li, ol li {
  margin-bottom: .1em;
  padding: .1em;
}

ul p, ol p {
  margin: .3em 0;
}

ol.shaded li:nth-child(odd) { 
  background-color: #ddd;
}

ol.shaded li:nth-child(odd):hover { 
  background-color: #bbb;
}

ol.shaded li:nth-child(even):hover { 
  background-color: #bbb;
}

form#comment-form label {
  width: 5em;
  display: inline-block;
  text-align: right;
}

form#search label {
  display: inline-block;
  text-align: right;
}

form#comment-form input {
  margin-bottom: 10px;
}

form#comment-form input#comment-submit {
  text-align: right;
}

form#comment-form textarea {
  display: block;
}

table#browse {
  padding: 8px 4px;
  border-spacing: 0;
}

table#browse th {
  text-align: left;
  padding: 2px 5px;
}

table#browse td {
  padding: 2px 5px;
}

table#browse tr:nth-child(0):hover {
  background-color: white;
}

table#browse tr:nth-child(odd) {
  background-color: #f6f6f0;
}

table#browse tr:nth-child(odd):hover {
  background-color: #edece6;
}

table#browse tr:nth-child(even):hover {
  background-color: #edece6;
}

p#navigate-back,
p#navigate-forward {
  margin: 0;
}

p#navigate-back {
  float: left;
}

p#navigate-forward {
  text-align: right;
}

pre.tag-preview-code {
  font-size: .9em;
  margin-left: 1em;
}

blockquote.tag-preview-output {
  margin-left: 1em;
}
