@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  font-family: "Droid Sans", Arial, sans-serif;
  border: solid #d9d8d1;
  border-width: 1px;
  margin: 10px auto;
  margin-bottom: 50px;
  background-color: #fff;
  color: #000;
  width: 500px;
  max-width: 800px;
  font-size: 15px;
}

h1 {
  background-image: url('stacks.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  height: 25px;
  margin: 0;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: #d9d8d1;
}

h1:hover {
  background-color: #c9c8c1;
}

h1 a {
  color: black;
  text-decoration: none;
  display: block;
  padding-left: 40px;
}

h1 a:visited {
  color: black;
}

a img {
  border: none;
}

form {
  padding: 10px;
}
