body {
	font-family: sans-serif;
	font-size: medium;
	border: solid #d9d8d1;
	border-width: 1px;
	margin: 10px;
  padding: 10px;
	background-color: #ffffff;
	color: #000000;
  max-width: 800px;
}

a {
	color: #0000cc;
}

a:hover, a:visited, a:active {
	color: #880000;
}

h1 {
	height: 25px;
  margin: -10px -10px 0 -10px;
	padding: 8px;
	font-size: 150%;
	font-weight: bold;
	background-color: #d9d8d1;
}

h2 {
  font-size: medium;
  margin: 0 -10px 10px -10px;
	border-top: 1px solid #d9d8d1;
	display: block;
	padding: 6px 8px;
	font-weight: bold;
	background-color: #edece6;
	text-decoration: none;
	color: #000000;
}

pre {
  margin-left: 10px;
}

span.comment-date {
  float: right;
}

form#comment {
}

form#comment label {
  width: 5em;
  display: inline-block;
  text-align: right;
}

form#comment input {
  margin-bottom: 10px;
}
