body {
	font-family: sans-serif;
	font-size: medium;
	border: solid #d9d8d1;
	border-width: 1px;
	margin: 10px;
  padding: 10px;
	background-color: #ffffff;
	color: #000000;
  max-width: 800px;
  font-size: 16px;
}

a {
	color: #0000cc;
}

a:hover, a:visited, a:active {
	color: #880000;
}

h1 {
	height: 25px;
  margin: -10px -10px 0 -10px;
	padding: 8px;
	font-size: 150%;
	font-weight: bold;
	background-color: #d9d8d1;
}

h2 {
  font-size: medium;
  margin: 0 -10px 10px -10px;
	border-top: 1px solid #d9d8d1;
	display: block;
	padding: 6px 8px;
	font-weight: bold;
	background-color: #edece6;
	text-decoration: none;
	color: #000000;
}

p#backlink {
  background-color: #eee;
  padding: 6px 8px;
  margin: 10px -10px -10px -10px;
}

var {
  font-style: normal;
  font-family: monospace;
}

h2 var {
  font-size: 1.2em;
}

ol li {
  margin-bottom: .3em;
  padding: .4em;
}

ol.shaded li:nth-child(odd) { 
  background-color: #ddd;
}

ol.shaded li:nth-child(odd):hover { 
  background-color: #bbb;
}

ol.shaded li:nth-child(even):hover { 
  background-color: #bbb;
}

pre {
  margin-left: 10px;
  font-size: .9em;
}

span.comment-date {
  float: right;
}

form#comment-form {
}

form#comment-form label {
  width: 5em;
  display: inline-block;
  text-align: right;
}

form#comment-form input {
  margin-bottom: 10px;
}

form#comment-form input#comment-submit {
  text-align: right;
}
