@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  font-family: "Droid Sans", Arial, sans-serif;
  border: solid #d9d8d1;
  border-width: 1px;
  margin: 10px auto;
  margin-bottom: 50px;
  background-color: #fff;
  color: #000;
  width: 500px;
  max-width: 800px;
  font-size: 17px;
}

h1 {
  background-image: url('stacks.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  height: 25px;
  margin: 0;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: #d9d8d1;
}

h1:hover {
  background-color: #c9c8c1;
}

h1 a {
  color: black;
  text-decoration: none;
  display: block;
  padding-left: 40px;
}

h1 a:visited {
  color: black;
}

blockquote.rendered {
  font-size: 100%;
}

a img {
  border: none;
}

hr {
  color: white;
  border: none;
}

form {
  border-top: 1px solid #d9d8d1;
  padding: 10px;
}

form label {
  float: left;
  width: 80px;
  line-height: 1.9;
}

form input[type="text"],
form input[type="url"],
form input[type="email"] {
  float: left;
  font-size: 80%;
  padding: 4px;
  vertical-align: baseline;
}

form p {
  margin: 0 0 5px 0;
}

form input[type="submit"] {
  color: white;
  padding: 7px 20px;
  font-size: 100%;
  border-radius: 3px;
	border: 1px solid #124d77;
	cursor: pointer;
}

form input[type="submit"]:active {
	position:relative;
	top:1px;
}

form input#skip {
  background-color: #ff4f5e;
  float: left;
}

form input#skip:hover {
  background-color: #eb1c2b;
}

form input#submit {
  background-color: #62c255;
  float: right;
}

form input#submit:hover {
  background-color: #48a83b;
}

